* {
    padding: 0;
    margin: 0;
}


.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "hd"
    "nav"
    "con"
    "ft";
}

.header {
    grid-area: hd;
}

.content {
    grid-area: con;
}

.main-nav{
    grid-area: nav
}

.footer {
    grid-area: ft;
}

.dstyle {
    background-color: #FDEF91;
    border: 1px orange solid;
    border-radius: 3px;
}


@media (min-width: 700px) {
  .grid {
      display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas:
          "hd hd hd"
          "nav con con"
          "nav con con"
          "ft ft ft"
   }
   nav ul {
     flex-direction: column;
   }
}

