<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Flask Site</title>
    <link href="{{ url_for('static',filename='css/main.css') }}" rel="stylesheet">

</head>
<body>
    <div class="grid">
        <div class="side_header1">
            side_header1
        </div>
        <div class="side_header2">
            side_header2
        </div>
        <div class="header">
            <img id="logo" src="../static/img/logo.jpg">
            Header
        </div>
        <div class="content">
            Content
        </div>
        <div class="footer">
            Footer
        </div>
    </div>
</body>
</html>