<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Flask Site</title>
    <link href="{{ url_for('static',filename='css/main.css') }}" rel="stylesheet">

</head>
<body>
    <div class="grid">
        <div class="header dstyle">
            header
        </div>

        <nav class="main-nav dstyle">
            <ul>
                <li><a href="">Nav 1</a></li>
                <li><a href="">Nav 2</a></li>
                <li><a href="">Nav 3</a></li>
            </ul>
        </nav>

        <article class="content dstyle">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur id incidunt nihil quas reiciendis vitae voluptatibus. Ad assumenda autem debitis expedita ipsa ipsam ipsum iure laboriosam magnam minus molestiae molestias officiis pariatur placeat possimus, quae quia rerum sint tempora voluptatibus!
        </article>
        <div class="footer dstyle">
            Footer
        </div>
    </div>
</body>
</html>